@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #222;
  font-family: Open Sans;
  /* font-size: 50px; */
  color: #222;
}
.outer {
  display: flex;
  flex-wrap: wrap;
  /* border: solid 1px white; */
  height: 96vh;
  align-items: flex-start;
  justify-content: space-around;
  /* grid-template-columns: 30px 200px auto 100px; */
}

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 300px;
  border-radius: 4px;
  height: 200px;
  margin: 1%;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card .back {
  background: #faa41a;
  color: #222;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 4px; */
}
.front {
  font-size: 50px;
}

label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
